.tonerStorage {
    width: 100%;
    margin: 0px 0 5px 5px;
    //margin: 0 auto;
    padding: 10px;
    
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
    height: 40px;
    background-color: var(--color-very-light-blue);
    color: var(--color-dark-blue);
    border-radius: 6px;
    margin-bottom: 30px;
}





