.image {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff;
}

.circle__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 25%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.circle_sleeve {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 50%;
    border: 2px solid #fff;
}

