.PaperStockPage {
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.paperBox__title {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.paperBox__subtitle {
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    //width: 130px;
    // max-width: 130px;
    // min-width: 100px;
    overflow-wrap: break-word;
}

.paperBox__icon {
    min-width: 100px;
    width: 80%;
    height: 80%;
}

.editBox__data {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.editBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 100%;
    justify-content: center;
    align-items: center;
}

.paperBox {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 25px;
}

.descriptionBox {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
