.calendar {
    width: 120%;
    //margin-left: 10px;
    margin: 0px 0 5px 5px;
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: var(--color-very-light-blue);
    height: 40px;
    border-radius: 6px;



}

.name {}

.number {
    margin-left: 100px;
}

.man {
    //margin-right: 30px;
}

.date {
    margin-right: 25px;
}

.res {
    margin-right: 45px;
}

.qty {
    margin-right: 10px;
}